*{
    padding:0;margin:0;
    list-style: none;
    text-decoration: none;

}
html,body,#root{
    width: 100%;
    height:100%;
}
.login{
    width:100%;
    height:570px;
    background: url('./img/login-bg.04425a08.png')no-repeat;
    background-size: 100% 100%;
    display: flex;
    .left{
        flex:5;
        p{
            color:white;
            font-size:100px;
            margin:10%;
        }
      span{
        color:white;
        // border:1px solid #ccc;
        margin:10%; 
      }
    }
    .right{
        flex:5;
        .ipt{
            width:75%;
            height:500px;
            background: white;
            margin:10%;
            
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            .top{
                flex:4;
                text-align: center;
                margin:10%;
                span{
                    width:100px;
                    height:100px;
                    display: inline-block;
                    line-height: 100px;
                    background: rgb(104, 102, 102);
                    border-radius: 15px;
                    font-size:40px;
                    color:white;
                    
                }p{
                    width:100%;
                    height:20px;
                    line-height: 20px;
                    margin-top:25px;
                    color:rgb(104, 102, 102)
                }
            }
            .bot{
                flex:6;
                input{
                    width:70%;
                    height:50px;
                   line-height: 50px;
                    margin-left:70px;
                    margin-top:5px;
                    border:none;
                    border-bottom:1px solid #ccc;
                    color:#ccc;
                }
                input:focus{
                    outline:none
                }
                .yz{
                    width:70%;
                    height:50px;
                   line-height: 50px;
                    margin-left:70px;
                    margin-top:5px;
                
                    border-bottom:1px solid #ccc;
                    color:#ccc;
                    display: flex;
                    input{
                        flex:8;
                        border:none;
                        width:100%;
                        height:100%;
                        // background: none;
                        margin-left:-5px;
                        margin-top:-1px;
                        
                    }
                    input:focus{
                        outline:none
                    }
                    p{
                        flex:2;
                        border:1px solid #ccc;
                        span{
                            display: inline-block;
                            width:70px;
                            line-height: 30px;
                            line-height: 30px;
                            color:pink;
                            // border:1px solid #ccc;
                            text-align: center;
                           

                        }
                    }
                }
                button{
                    width:70%;
                    height:40px;
                    line-height: 40px;
                    margin-left:70px;
                    margin-top:15px;
                    border:none;
                    background: skyblue;
                    border-radius: 15px;
                    color:white;
                }
            }
        }
    }
}
.box{
     width: 100%;
     height:100%;
     display: flex;
     background:#eee;
     .left{
         width:210px;
         height: 100%;
         background: rgb(0, 21, 41);
         display:flex;
         flex-direction: column;
         .logo{
                 width:100%;
                 height: 200px;
                 color:white;
                 text-align: center;
                 span{
                     width:50px;
                     height:50px;
                     border-radius: 50%;
                     margin-top:50%;
                     display: inline-block;
                     background:white;
                     img{
                         width:100%;
                         height:100%;
                     border-radius:50%

                     }
                    //  background:url("./img/2.png")no-repeat;
                    //  background-size:100% 100%;
                 }
                 p{
                     margin-top:15px;
                 }
             }
             div{
                 button{
                     margin-right:30px;
                     margin-left:10px;
                 }
             }
     }
     .right{
         flex:1;
         display: flex;
         flex-direction: column;
         overflow: auto;
         .top{
             width:100%;
             height:60px;
             line-height: 60px;
             background:white;
             display: flex;
             
             p{
                 width:100px;
                 height:30px;
                 line-height:30px;
                 text-align:center;
                 border:1px solid #ccc;
                 margin-top:14px;
                 margin-right:5px;
                 position: relative;
                 span{
                     position: absolute;
                    right:0;
                 }
             }
             .active{
                 background: skyblue;
                 color:white;
             }
             
         }
         .bot{
             flex:1;

         }
     }
}
.settings{
    width:100%;
    height:100%;
    .logo{
        width:100%;
        height: 200px;
        margin-left:20px;
        margin-top:5%;
        span{
            width:150px;
            height:150px;
            border-radius: 50%;
          
            display: inline-block;
            img{
                width:100%;
                height:100%;
                border-radius:50%;
            }
            // background:url("./img/2.png")no-repeat;
            // background-size:100% 100%;
        }
        p{
            margin-top:15px;
            margin-left:25px;
        }
    }
    button{
        margin-left:55px;

    }
}
.Dai{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    .to{
        width:100%;
        height:50px;
        line-height: 50px;
        
    }
    p{
        display: inline-block;
        width:50px;
        line-height: 50px;
        text-align: center;
    }
    button{
        margin-left:20px;
    }
    Table{
        width:80%;
       

    }
}